<!DOCTYPE html>
<html lang="en" ng-app="goat-tracker">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>GOAT TRACKER 95!</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-route/angular-route.min.js"></script>
  <script src="/vendor/lodash/dist/lodash.js"></script>
  <script src="/vendor/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
  <script src="/vendor/angular-google-maps/dist/angular-google-maps.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>
  <script src="/scripts/controllers/GoatsIndexController.js"></script>
  <script src="/scripts/controllers/GoatsShowController.js"></script>

</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Goat Tracker 95 <small>your ultimate goat tracking source</small></h1>
    </div>
    <div ng-view></div>
  </div>
</body>
</html>
