<div class="row">
  <div class="col-md-10 col-sm-12">
    <img src="{{goatsShowCtrl.goat.image_url}}" alt="goatsShowCtrl.goat.name" class="img-thumbnail">
</div>
  <div class="col-md-10 col-sm-10 well well-sm">
    <ul class="dl-horizontal">
      <li>Name: {{goatsShowCtrl.goat.name}}</li>
      <li>Age: {{goatsShowCtrl.goat.ageInMonths}} months</li>
      <li>Color: {{goatsShowCtrl.goat.color}}</li>
      <li>Charisma: {{goatsShowCtrl.goat.charisma}}</li>
    </dl>
    <a class="btn btn-primary" ng-href="/goats"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</a>
  </div>
</div>
